.deck-manager {
  background-image: url('./assets/hs-background.jpg');
  background-size: cover;
  background-attachment: fixed;

  .container {
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
    width: 80%;

    &.fixed {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      transform: translate(-50%, -50%);
    }
  }

  h2 {
    font-weight: normal;
  }


  .login {
    text-align: center;
    .field-control {
      margin: 10px 0;
    }
  }

  .decks .deck {
    margin: 20px 0;
  }

  .deck {
    .card {
      width: 200px;
    }

    .title {
      .clearfix;

      h3,
      .hero,
      .button {
        float: left;
        margin-right: 20px;
      }
      h3 {
        width: 200px;
        margin: 0 20px 0 0;
      }
    }

    .hero {
      background-image:url(http://static-hearth.cursecdn.com/1-0-5800-34454/Skins/Hearth/images/deck-class-icons.png);
      height: 32px;
      width: 32px;
      border-radius: 50%;
      overflow: hidden;

      &.druid {
        background-position: -8px -8px!important
      }
      &.hunter {
        background-position: -58px -8px!important
      }
      &.mage {
        background-position: -108px -8px!important
      }
      &.paladin {
        background-position: -158px -8px!important
      }
      &.priest {
        background-position: -208px -8px!important
      }
      &.rogue {
        background-position: -258px -8px!important
      }
      &.shaman {
        background-position: -308px -8px!important
      }
      &.warlock {
        background-position: -358px -8px!important
      }
      &.warrior {
        background-position: -408px -8px!important
      }
    }
  }
}
